<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="public/assets/ico/favicon.ico">

  <title>Project</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  
  <script src="/assets/js/modernizr.js"></script>
</head>
<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">BRAINSTORM</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
       <ul class="nav navbar-nav">
         <li><a href="Home">HOME</a></li>
         <li><a href="ContactUs">CONTACT US</a></li>
         <li><a href="signUp">SIGN UP </a></li>
         <li><a href="profile">PROFILE </a></li>
       </ul>
      </div>
    </div>
  </div>
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Home</h3>
    </div>
    </div>
</div>

  <div class="container mtb">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
      <h2><span style="border-bottom: 2px solid #384452; padding-bottom: 10px;">Take Quiz Now!</span></h2>

      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-success" style="padding-top: 30px;">Win Fabulous Prizes</h3>
        <p style="font-size: 18px; line-height: 1.5em;padding-top: 30px;">
        Filled with diffrent genres blended into a single entity <em>BRAINSTORM</em>.<br>You can test your brains out with 3 levels of mounting difficulty.
        <br>
         Just answer the questions and win a <b> Awesome Prizes</b>.
        </p>
        <br><br>
        <p style="text-align: center;"><a href="startQuiz" class="btn btn-lg btn-danger">Start Quiz</a></p>
      </div>
    </div>
  </div>
 </div>
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" align="center">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>Why waste your time?<br>
          Get started</p>
        </div>
        <div class="col-lg-4" align="center">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://www.facebook.com/" id="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/login" id="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/?hl=en" id="instagram"><i class="fa fa-instagram"></i></a>
          </p>
        </div>
        <div class="col-lg-4" align="center">
          <h4>Location</h4>
          <div class="hline-w"></div>
          <p>
            MBCET,<br/>
            Nalanchira,<br/>
            Trivandrum.<br/>
          </p>
        </div>
      </div>
    </div>
   </div>   

 </body>

 </html>